<%= form_for(@guitar, html: { multipart: true }) do |f| %>
  <% if @guitar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guitar.errors.count, "error") %> prohibited this guitar from being saved:</h2>

      <ul>
      <% @guitar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area(:description, cols: 40, rows: 10) %>
  </div>
  <div class="field">
    <%= f.label :string_number %><br>
    <%= f.number_field :string_number %>
  </div>
  <div class="field">
    <%= f.label :left_handed %><br>
    <%= f.check_box :left_handed %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, as: :file %>
  </div>
  <div class="field">
    <%#= f.label :picture %><br>
    <%#= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
