<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @guitar.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @guitar.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @guitar.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guitar.description %>
</p>

<p>
  <strong>String number:</strong>
  <%= @guitar.string_number %>
</p>

<p>
  <strong>Left handed:</strong>
  <%= @guitar.left_handed %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @guitar.picture.url(:medium) %>
</p>

<%= link_to 'Edit', edit_guitar_path(@guitar) %> |
<%#= link_to 'Back', guitars_path %>
<%= link_to 'Back', :back %>
